

*{
    box-sizing: border-box;
}

/*<===_html_tags_===>*/

body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: aliceblue;
}

a{
    color:#918E9B;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

img{
    height: 200px;
}


/*<===_classes_===>*/


/*<===_container_===>*/

.Container{
    width: 40%;
    min-width: 600px;
    margin: 100px auto;
    border-radius: 3%;
    background-color: white;
}

header{
    background-color: #F55A5A;
    padding: 10px;
    border-radius: 20px 20px 0 0;
}

.bold{
    font-weight: bold;
}

.content{
    display: flex;
    align-items: center;
    margin: 40px;
    font-size: 0.8rem;
}

.place{
    display: flex;
    align-items: center;
    width: 300px;
}

.place p {
    margin-right: 10px;
    margin-bottom: 0;
}

.about{
    padding: 0 25px;
}

.liste{
    height: 550px;
    overflow-y: scroll;
    overflow-x:hidden;
}

